.chatroom-card-user{
    display: flex;
    flex-wrap: nowrap;
}

.user-pic-profile{
    justify-self: left;
    padding-right: 5px;
    flex-basis: 20%;
}

.user-action-call{
    flex-basis: 30%;
    justify-self: center;
    text-align: center;
    align-self: center;
}

.user-is-online{
    flex-basis: 10%;
    justify-self: center;
    align-self: center;
}

.user-name{
    flex-basis: 40%;
    justify-self: center;
    align-self: center;
}

.chat-list-users{
    max-height: 370px;
    overflow: scroll;
}

.chat-video-container{
    display: flex;
    flex-direction: row
}